## Testing on algo-trading + git

In [2]:
### Importing some libraries

# General purpose
import pandas as pd
import numpy as np

# data
import yfinance as yf
import requests
import math
from scipy import stats

#### Import Data

In [4]:
# List of stocks
stocks = pd.read_csv("sp_500_stocks.csv")
stocks.head()

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV